<div class="wrapper">
    <div>
        <ul>
            <!--<li class="precios">
                <img class="fa img-sub-menu" [src]="getUrlButton(urlImgIndicadores)" (click)="mostrar_precios.emit()" matTooltip="Ver precios" matTooltipPosition="right" />
            </li>-->
            <li class="cliente">
                <img class="fa img-sub-menu" [src]="getUrlButton(urlImgBuscar)" (click)="buscar_cliente.emit()" matTooltip="Buscar cliente" matTooltipPosition="right" />
            </li>
            <li class="logout">
                <img class="fa img-sub-menu" [src]="getUrlButton(urlImglogout)" (click)="logout.emit()" matTooltip="Cerrar Sesion" matTooltipPosition="right" />
            </li>
        </ul>
    </div>
</div>