<div class="wrapper" *ngIf="visibleBtnSubMenu">
    <div>
        <ul>
            <!--<li class="precios">
                <mat-icon class="fa img-precios img-propiedades" (click)="mostrar_precios.emit()" matTooltip="Ver precios" matTooltipPosition="right"></mat-icon>
            </li>-->
            <li class="cliente">
                <mat-icon class="fa img-buscar-ctle img-propiedades" (click)="buscar_cliente.emit()" matTooltip="Buscar cliente" matTooltipPosition="right"></mat-icon>
            </li>
            <li class="logout">
                <mat-icon class="fa img-logout img-propiedades" (click)="logout.emit()" matTooltip="Cerrar Sesion" matTooltipPosition="right"></mat-icon>
            </li>
        </ul>
    </div>
</div>