.img-menu {
    height: 25px;
    width: 25px;
}

.logo-button-menu {
    background-image: url(../../../assets/img/appicon_white.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    background-position: center;
    vertical-align: middle;
}

.logo-button-menu-disable {
    /* background-image: url(../../../assets/img/appicon_white.png); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    background-position: center;
    vertical-align: middle;
}

::ng-deep .btn-menu {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

::ng-deep .btn-menu:hover {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    opacity: 0.8;
}

::ng-deep .mat-menu-panel {
    min-width: 35px;
    max-width: 280px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: calc(100vh - 48px);
    border-radius: 2px;
    outline: 0;
    background: rgb(182, 180, 180);
    padding-left: 10px !important;
}

::ng-deep .btn-img {
    vertical-align: middle;
}

.btnBusca {
    width: 35px;
    height: 35px;
}

.btnTab {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 16px;
    background-size: 10%;
    margin-right: 30px;
}

.btnTab:hover {
    color: #658d3d;
}

.btnTab.active {
    color: #658d3d;
    background-repeat: no-repeat;
    background-position: right 16px;
    background-size: 10%;
}

.btn-tab-close {
    padding: 9px 9px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px ridge #a4ca7e;
    color: #658d3d;
    /* margin: 4px 2px; */
    position: fixed;
    display: inline-block;
    /* background-color: inherit; */
    /* margin-top: 5px; */
    /* margin-left: 10px; */
    background-image: url(../../../assets/img/buttons/cerrarDes.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.btn-tab-close:hover {
    padding: 8px 8px;
    text-decoration: none;
    display: inline-block;
    /* margin: 4px 2px; */
    cursor: pointer;
    border: 2px solid #658d3d;
    color: #658d3d;
    /* margin-top: 5px; */
    /* margin-left: 10px; */
    background-image: url(../../../assets/img/buttons/cerrar.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.btn-tab-close:disabled {
    cursor: not-allowed !important;
    padding: 8px 8px;
    display: inline-block;
    /* margin: 4px 2px; */
    cursor: pointer;
    border: 2px solid #658d3d;
    color: #658d3d;
    /* margin-top: 5px; */
    /* margin-left: 10px; */
    background-image: url(../../../assets/img/buttons/cerrarDes.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}