<div class="container-login">
    <mat-card class="card-login">
        <mat-card-title class="title-login">
            Login
        </mat-card-title>
        <mat-card-content class="card-content">
            <form id="login-form" #lForm="ngForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
                <mat-form-field class="form-field" [ngClass]="{'mat-input-invalid': submitted}">
                    <input matInput type="text" formControlName="username" placeholder="Usuario" #input [value]="input.value.toUpperCase()" />
                    <mat-hint class="form-warnig" *ngIf="submitted && loginForm.controls.username.hasError('required')">El campo es obligatorio</mat-hint>
                </mat-form-field>
                <mat-form-field class="form-field" [ngClass]="{'mat-input-invalid': submitted}">
                    <input matInput type="password" formControlName="password" placeholder="Contraseña" />
                    <mat-hint class="form-warnig" *ngIf="submitted && loginForm.controls.password.hasError('required')">El campo es obligatorio</mat-hint>
                </mat-form-field>
            </form>
            <mat-hint class="form-warnig" *ngIf="submitted && error?.code == 1 && !loginForm.controls.username.hasError('required')">{{error.message}}</mat-hint>
        </mat-card-content>
        <mat-card-actions class="card-actions">
            <button mat-raised-button type="submit" form="login-form"> Iniciar Sesión</button>
        </mat-card-actions>
    </mat-card>
    <intercam-spinner></intercam-spinner>
</div>